.glass {
  background: rgba(255, 255, 255, 0.048);
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(122, 122, 122, 0.18);
}

.nav_item:hover {
  background: rgba(255, 255, 255, 0.223);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.collapse-enter {
  opacity: 0;
  transform: translateX(-20px);
}
.collapse-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.collapse-exit {
  opacity: 1;
  transform: translateX(0);
}
.collapse-exit-active {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 300ms, transform 300ms;
}
